.bottom {
  padding: 10px 15px;
  color: #777;
  position: relative;
  text-align: center;
  font-size: 14px;
}
.bottom .todo-cout{
  float: left;
  text-align: left;
}
.bottom .bottom-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}
.bottom .bottom-list li {
  display: inline;
}
.bottom .bottom-list li a {
  padding: 3px 7px;
  color: inherit;
  text-decoration: none;
  border-radius: 3px;
  margin: 5px;
  border: 1px solid transparent;
}
.bottom .bottom-list .selected {
  border-color: rgba(175, 47, 47, 0.2);
}
.bottom .clear-cout {
  position: relative;
  line-height: 20px;
  float: right;
  border: 0;
  background-color: #fff;
  color: inherit;
  cursor: pointer;
  outline: none;
}
.bottom .clear-cout:hover {
  text-decoration: underline;
}